{
  "project_info": {
    "project_number": "TODO: your_project_number",
    "project_id": "TODO: your_project_id",
    "storage_bucket": "TODO: your_project_id.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "TODO: your_mobilesdk_app_id",
        "android_client_info": {
          "package_name": "com.mahamevnawa.dhammaschool"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "TODO: your_api_key"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
